$primary-color: #f0ba7c;
$text-color:  rgba(0,0,0,0.7);
$nav-footer-color: rgba(50,50,50,.8);

body{
  background-image: url("http://i.imgur.com/UMVjAnS.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
a:link, a:visited, a:active{
  color: rgba(0,0,0,0.7);
}
a:hover{
  color: black;
}
#logo{
  color: $primary-color;
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  border-color: $primary-color;
}
#footer{
  text-align: center;
  background-color: $nav-footer-color;
  color: $primary-color;
}
#codeLogo{
  border-color: black;
  border-style: solid;
  border-width: thin;
}
#mainTitle, #homeDiv, #contactDiv, #portfolioDiv{
  text-align: center;
  color: $text-color;
}
.navbar{
  background-color: $nav-footer-color
  border-color: $primary-color;
}
.btn{
  background-color: transparent;
  float: right;
  border-color: $primary-color;
  color: $primary-color;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
  display:inline-block;
}
.btn:focus,.btn:active {
  outline: none !important;
}