#mainTitle{
	text-align: center;
	color: #f46042;
	
}

body{
}
.btn-circle.btn-xl {
  width: 250px;
  height: 250px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 125px;
  border-color: #f46042;
  border-color: #f46042;
  border-width: thin;
  color: #f46042;
}
#bigButtons{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	align-self: center;

}
.btn:focus,.btn:active {
   outline: none !important;
}
