body{
  background-color: #181f27;
  background-image: url("file:///Users/KhalidsMac/Desktop/personalWebsite/resources/background.jpg");
  background-size: 100% 100%;
}
.navbar{
 
  border-color: transparent;
  background-color: transparent;
}
#mainTitle{
	text-align: center;
  font-style: italic;
  color: #243d41;
}
#fontLogo{
  color: #243d41;
  border-style: solid;
  margin: auto;
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 5px;
  display:inline-block;
  opacity: 0.75;

}

.btn{
  float: right;  
  margin: auto;
  margin-top: 5px;
   margin-bottom: 5px;
  margin-right: 3px;
  display:inline-block;
  border-color: #243d41;
  color: #243d41;
  background-color: transparent;
  opacity: 0.75;
}




.fa-code{
 border-width: thin;
 border-style: solid;
}

#collapseGroup{
  color: #d7d9c3;
  opacity: 0.75;
  text-align: center;
}
.btn:focus,.btn:active {
   outline: none !important;
}
