body{
  background-color: #3c3c3c;
}
.navbar{
  border-style: solid;
  border-width: medium;
  border-color:  #af473c;
}
#mainTitle{
	text-align: center;
  font-style: italic;
  color: #af473c;

	
}
#about,#aboutBtn{
  background-color: #af473c;
  color: #79A237;

}
#contact,#contactBtn{
  background-color: #27616c;
  color: #af473c;
}
#portfolio, #portfolioBtn{
  background-color: #79A237;
  color: #27616c;
}

.fa{
 border-width: thin;
 border-style: solid;
}

#collapseGroup{
  color: #af473c;
  text-align: center;
}
.btn:focus,.btn:active {
   outline: none !important;
}
